@charset "utf-8";

// color button
$blue: #1862E4;
$red: #F95F5F;
$primary: #758aa6;

// color gray
$clr_g1: #41464D;
$clr_g2: #7A8088;
$clr_g3: #A8AAB7;
$clr_g4: #E8EAF1;
$clr_g5: #F4F4FB;
$clr_g6: #F1F8FF;

// color border
$bor: #e8eaf1;

// font
$txt_s: 11px;
$txt_p: 12px;

